
<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>very cool</title>
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='scripts/script.js')}}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css')}}">
        <link href="https://fonts.googleapis.com/css2?family=Molle:ital@1&family=Quicksand&display=swap" rel="stylesheet">


    </head>

    <body>
        <div class="header-login">Virtual Library</div>
        <div class="container2">
            <form action="" method="post" enctype="multipart/form-data">
                 <input type="text" name="username" placeholder = "Username"/>
                  <input type="submit" value="Enter"/>
            </form>
        </div>

        
    </body>
</html>

